p, h3{
	padding: 0;
	margin: 5px;
}

ol, ul, li {
	padding: 0px;
	margin: 15px;
	list-style-position: inside;
}

p {
	display: inline-block;
}

section {
	margin: 40px 0;
	clear: both;
}

textarea {
	width: 100%;
	height: 150px;
	resize: none;
	font-size: 14px;
	margin-top: 5px;
}

table {
	width: 100%;
}

table, tr, td{
	border: 1px solid #E0E0E0;
	border-collapse: collapse;
}

fieldset {
	width: 400px;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	border-radius: 5px;
	border-color: rgb(220, 220, 220);
	border-style: solid;
}

legend {
	font-weight: bold;
}

input[type="text"], input[type="date"] {
	height: 40px;
	font-size: 20px;
	text-align: center;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 2px;
	border-style: solid;
	padding: 0px;
	border-color: rgb(220, 220, 220);
}

input[type="text"]:focus, input[type="date"]:focus {
	outline: 0px;
}

input[type="text"][name="supervisor-name"]:focus{
	padding-right: 45px;
	width: 275px;
}

input[type="submit"] {
	font-size: 16px;
    border-radius: 5px;
    background-color: rgb(220, 220, 220);
	cursor: pointer;
}

input[list="calificative"] {
	width: 33px;
	float: right;
}

p.categ-title {
	display: block;
	font-size: 1.2em;
	margin-top: 15px;
	border-bottom: 1px solid rgb(220, 220, 220);
}

.header, #general-info{
	text-align:center;
}
.header-item-align-center{
	display:inline-block;
	vertical-align:middle;
}

.spaced {
	margin: 0 10px;
}

#form-wrapper{
	width: 100%; /*800px*/
	max-width: 90%;
	margin: 20px auto 0;
}

#supervisor {
	font-size: 0;
}

.large-text-input {
	width: 320px;
}

.input-warning {
	border-color: red;
}

.info-field {
	display:inline-block;
	vertical-align: top;
	margin: 15px;
}

.left-align{ 
	text-align: left;
	padding: 5px 20px 5px 5px;
}

.right-align{ 
	text-align: right;
	padding: 5px 5px 5px 20px;
}

.hidden-button {
	display: none;
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 40px;
	height: 40px;
	margin-left: -40px;
	border-image-width: 0px;
	vertical-align: bottom;
	background-color: rgb(220, 220, 220);
	cursor: pointer;
}

.hidden-button:focus {
	outline: 0;
}

.ta-wrapper {
	margin: 0 10px;
}

.popup {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.popup-content{
	background-color: #fefefe;
	margin: 150px auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 450px;
	text-align:center;
	font-size: 22px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* debugging classes */
.outlined {
	outline: 1px solid black;
}

